language: python

sudo: required
dist: trusty

python: "3.5"

services:
  - docker

before_script:
  - sudo /etc/init.d/mysql stop

script:
  - docker build -t faf-db .
  - docker run -d --name faf-db -e MYSQL_ROOT_PASSWORD=banana -p 3306:3306 faf-db
  - until docker exec -i faf-db ./healthcheck.sh 2>/dev/null; do sleep 1; done

after_success:
  - ./dump.sh
